<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>维修记录</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="style/weui.min.css" />
    </head>
    <style>
        .weui-cell:before {
            border-top:none;
        }
        .weui-cell {
            padding:0 15px;
        }
        .weui-cell__ft {
            color:
        }
        [v-cloak] {
            display: none !important;
        }
    </style>
    <body>
        <div id="app" v-cloak>
            <div>
                <div style="margin-top:10px" v-for="item in items">
                    <div @click="btn(item)">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>{{item.createtime}}</p>
                            </div>
                            <div class="weui-cell__ft" v-show="item.status==1">待接单</div>
                            <div class="weui-cell__ft" v-show="item.status==2">已接单</div>
                            <div class="weui-cell__ft" v-show="item.status==3">处理中</div>
                            <div class="weui-cell__ft" v-show="item.status==4">工单取消</div>
                            <div class="weui-cell__ft" v-show="item.status==5">已预约</div>
                            <div class="weui-cell__ft" v-show="item.status==6">维修中</div>
                            <div class="weui-cell__ft" v-show="item.status==7">维修完成</div>
                            <div class="weui-cell__ft" v-show="item.status==8">待验收</div>
                            <div class="weui-cell__ft" v-show="item.status==9">待支付</div>
                            <div class="weui-cell__ft" v-show="item.status==10">待修正</div>
                            <div class="weui-cell__ft" v-show="item.status==11">工单完成</div>
                            <div class="weui-cell__ft" v-show="item.status==12">等人待接单</div>
                            <div class="weui-cell__ft" v-show="item.status==13">调度待接单</div>
                            <div class="weui-cell__ft" v-show="item.status==14">转单待接单</div>
                            <div class="weui-cell__ft" v-show='item.status==15'>待上门</div>
                        </div>
                        <div class="weui-cell" style="border-bottom: 1px solid #D9D9D9;">
                            <div class="weui-cell__bd" v-for='it in item.deviceList'>
                              <p>维修内容：{{it.name}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else style="margin-top:10px;width:100%;text-align:center;">
                <span id="noorder" style="text-align:center"></span>
            </div>
        </div>
        <script src='js/arg.js'></script>
        <script src="js/vue.min.js"></script>
        <script src='js/axios.min.js'></script>
        <script src=js/jquery.js></script>
        <script src="http://cdn.bootcss.com/js-cookie/2.1.2/js.cookie.min.js "></script>
        <script src='js/maintain_record.js'></script>

    </body>
</html>